@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./nprogress.css";
@import "./locomotive-scroll.css";

html,
body {
  padding: 0;
  margin: 0;
  @apply font-fredoka text-black dark:text-white bg-white dark:bg-black;
}

a {
  color: inherit;
  text-decoration: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill{
  -webkit-text-fill-color: #000 !important;
}
* {
  box-sizing: border-box;
}
.bg__rgba {
  background-color: rgba(255, 255, 255, 0.6);
}
.banner__overlay--down {
  background-image: linear-gradient(
    to bottom,
    transparent 10%,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 1)
  );
}


.banner__overlay {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to left,
    transparent 10%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 1)
  );
}

.bg--gradient {
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  background-image: url('/banner-01.jpeg');
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  height: 100%;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/* Input */
.label__grounp {
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}
.input__grounp:focus ~ .label__grounp,
.input__grounp:not(:placeholder-shown).input__grounp:not(:focus) ~ .label__grounp {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}
/* Button */
.button__aff {
  transition: all .5s;
}
.button__aff:hover::after {
  transform: translateX(270px);
  transition: all .5s;
}
.button__aff:hover::before {
  transform: translateX(-270px);
  transition: all .5s;
}
.button__aff:not(:hover)::after {
  transform: translateX(0);
  transition: all .5s;
}
.button__aff:not(:hover)::before {
  transform: translateX(0);
  transition: all .5s;
}
.button__aff::after {
  content: '';
  width: 30px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  display: inline-block;
  top: -4px;
  left: 10px;
}
.button__aff::before {
  content: '';
  width: 30px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  display: inline-block;
  bottom: -5px;
  right: 10px;
}


.button__aff--home {
  transition: all .5s;
}
.button__aff--home:hover::after {
  transform: translateX(80px);
  transition: all .5s;
}
.button__aff--home:hover::before {
  transform: translateX(-80px);
  transition: all .5s;
}
.button__aff--home:not(:hover)::after {
  transform: translateX(0);
  transition: all .5s;
}
.button__aff--home:not(:hover)::before {
  transform: translateX(0);
  transition: all .5s;
}
.button__aff--home::after {
  content: '';
  width: 10px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  display: inline-block;
  top: -2.5px;
  left: 5px;
}
.button__aff--home::before {
  content: '';
  width: 10px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  display: inline-block;
  bottom: -2.5px;
  right: 5px;
}

/* Menu Header Active */
.menu__active::after, .menu__active::before {
  content: '';
  background-color: #000;
  display: inline-block;
  position: absolute;
  bottom: 15px;
}
.menu__active::after {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  left: 0;
  animation: menu-active-after .3s cubic-bezier(.55,.5,.45,.5) ;
}
.menu__active::before {
  border-radius: 10px;
  width: 80%;
  height: 5px;
  right: 0;
  animation: menu-active-before .3s cubic-bezier(.55,.5,.45,.5) ;
}
@keyframes menu-active-after {
  0% {
   transform: translateX(-10px);
   opacity: 0;
  }
  100% { 
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menu-active-before {
  0% {
   transform: translateX(10px);
   opacity: 0;
  }
  100% { 
    transform: translateX(0);
    opacity: 1;
  }
}
/* Slider Banner */

.slick-list {
  width: 100%;
  height: 100%;
  position: relative;
}
.slick-track {
  height: 100%;
  position: relative;
}
.slick-initialized .slick-slide {
  position: relative;
}
.slick-arrow::before {
  display: none;
}
.slick-arrow {
  top: initial !important;
  bottom: 0;
  right: 0 !important;
  left: initial !important;
  z-index: 900;
  color: initial !important;
  background: initial !important;
  background-color: rgba(255,255,255,.8) !important;
  width: 35px !important;
  height: 35px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px !important;
  border-radius: 50%;
}
.slick-arrow.slick-prev {
  right: 80px !important;
  /* transform: rotate(); */
}
.slick-arrow.slick-next {
  right: 30px !important;
}